<footer id="impressum">
  <a class="nav-link" href="/haftung/">
    <img src="/img/haftungsausschluss.png" alt="Haftungsausschluss">
    <img src="/img/highlight/haftungsausschluss.png" alt="Haftungsausschluss">
  </a>

  <a class="nav-link" href="/impressum/">
    <img src="/img/impressum.png" alt="Impressum">
    <img src="/img/highlight/impressum.png" alt="Impressum">
  </a>

  <a class="nav-link" href="/agb/">
    <img src="/img/agb.png" alt="AGB">
    <img src="/img/highlight/agb.png" alt="AGB">
  </a>
</footer>
