<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="theme-color" content="#030">
	<meta name="description" content="Gärtnerei Ruzicka - Langenzersdorf: Kräuter und vieles mehr">

	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<title>{{ $.Site.Title }}</title>

	{{ $stylesheet := .Site.Data.webpack.main }}
	{{ with $stylesheet.css }}
	  <link href="{{ relURL . }}" rel="stylesheet">
	{{ end }}

  <link rel="preload" href="/img/body.png" as="image">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
</head>
