<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="theme-color" content="#030">
	<meta name="description" content="Gärtnerei Ruzicka - Langenzersdorf: Kräuter und vieles mehr">

	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<title>Gärtnerei Martin Ruzicka</title>

	<link rel="preload" href="/img/body.png" as="image">
</head>
