<nav class="global-nav">

  <a class="nav-link nav-start" href="/">
    <img src="/img/startseite.png" alt="Startseite">
    <img src="/img/highlight/startseite.png" alt="Startseite">
  </a>

  <a class="nav-link nav-fried" href="/friedhof/">
    <img src="/img/friedhofsgaertnerei.png" alt="Friedhofsgärtnerei">
    <img src="/img/highlight/friedhofsgaertnerei.png" alt="Friedhofsgärtnerei">
  </a>

  <a class="nav-link nav-grab" href="/grabpflege/">
    <img src="/img/grabpflege.png" alt="Grabpflege">
    <img src="/img/highlight/grabpflege.png" alt="Grabpflege">
  </a>

  <a class="nav-link nav-trau" href="/trauerbinderei/">
    <img src="/img/trauerbinderei.png" alt="Trauerbinderei">
    <img src="/img/highlight/trauerbinderei.png" alt="Trauerbinderei">
  </a>

  <a class="nav-link nav-sais" href="/saisonal/">
    <img src="/img/saisonal.png" alt="Saisonal aktuell">
    <img src="/img/highlight/saisonal.png" alt="Saisonal aktuell">
  </a>

  <a class="nav-link nav-krae" href="/kraeuter/">
    <img src="/img/kraeuter.png" alt="Kräuter">
    <img src="/img/highlight/kraeuter.png" alt="Kräuter">
  </a>

  <a class="nav-link nav-sort" href="/sortiment/">
    <img src="/img/sortiment.png" alt="Sortiment">
    <img src="/img/highlight/sortiment.png" alt="Sortiment">
  </a>

  <a class="nav-link nav-priv" href="/privat/">
    <img src="/img/privat.png" alt="Martin Privat">
    <img src="/img/highlight/privat.png" alt="Martin Privat">
  </a>

  <a class="nav-link nav-term" href="/termine/">
    <img src="/img/termine.png" alt="Termine">
    <img src="/img/highlight/termine.png" alt="Termine">
  </a>

  <a class="nav-link nav-extlinks" href="/links/">
    <img src="/img/links.png" alt="Links">
    <img src="/img/highlight/links.png" alt="Links">
  </a>

</nav>
