$font-color-dark: hsl(0, 0%, 1%);
$font-color-grey: hsl(0, 0%, 30%);
$font-color-grey-light: hsl(0, 0%, 70%);
$brand-color: hsl(120, 100%, 10%);
$brand-color-light: lighten($brand-color, 10%);
$brand-color-lighter: lighten($brand-color, 80%);
$background-color: hsl(60, 100%, 10%);
$spacer: .2rem;
