<!DOCTYPE html>
<html lang="de">
{{ partial "head" . }}
<body>
  <header class="header">
    <img src="/img/title.png" class="header__image" width="618" height="164" alt=""/>
    <h1 class="sr-only">Gärtnerei Martin Ruzicka</h1>
  </header>
  <div class="row justify-evenly pt-2">
    {{ partial "nav" . }}
    <main class="content-area">
      {{ block "main" . }}
      {{ end }}
    </main>
  </div>
  {{ partial "footer" . }}
  <style>
    @import url('https://fonts.googleapis.com/css?family=Merriweather');
  </style>
</body>
</html>
