<label for="jetsSearch">Suche</label><input type="search" id="jetsSearch">
<button class="btn-expand">Alle anzeigen</button>
<table class="kraeuter-table">
  <tbody id="jetsContent" style="display: none;">

    {{ $url := "static/result.csv" }}
    {{ $sep := ";" }}
    {{ range $i, $r := getCSV $sep $url }}
    <tr>
      <td>
        {{ if eq (index $r 18) "1" }}<a href="/kraeuter/{{ lower (index $r 0) }}">{{ index $r 0 }}</a>{{ else }}{{ index $r 0 }}{{ end }}
        {{ if ne (index $r 1) "" }}
          <br><small>{{ index $r 1 }}</small>
        {{ end }}
      </td>
      <td>
        {{ if ne (index $r 11) "" }}
          € {{ index $.Site.Data.kraeuterMeta.preiskategorien (index $r 11) }}
        {{ end }}
      </td>
    </tr>
    {{ end }}
    <!-- YAML Alternative
    {{ range .Site.Data.kraeuterDB.kraeuter }}
    <tr>
      <td>
        {{ if eq .link 1 }}<a href="/kraeuter/{{ lower .Name }}">{{ .Name }}</a>{{ else }}{{ .Name }}{{ end }}
        {{ if ne .Name2 "" }}
          <br><small>{{ .Name2 }}</small>
        {{ end }}
      </td>

      <td>
        {{ if ne .Preis "" }}
          € {{ index $.Site.Data.kraeuterMeta.preiskategorien .Preis }}
        {{ end }}
      </td>
    </tr>
    {{ end }} -->
  </tbody>
</table>
