<label for="jetsSearch">Suche</label><input type="search" id="jetsSearch">
<button class="btn-expand">Alle anzeigen</button>

<table class="kraeuter-table">
  <tbody id="jetsContent" style="display: none;">
  {{ range $index, $el := .Site.Pages }}
    {{ if eq $el.Type "kraeuter" }}
    <tr>
      <td>
        <a href="{{ $el.Permalink | relURL }}">{{ $el.Params.name }}</a>
        {{ $alternativeNames := union $el.Params.extraNamen $el.Params.synonyme }}
        {{ if gt (len $alternativeNames) 0 }}
        <br><small><em>auch:</em>
          {{ range $i, $name := $alternativeNames }}
          {{ $name }}{{ if ne (add $i 1) (len $alternativeNames) }}, {{end}}
          {{ end }}
        </small>
        {{ end }}
      </td>
      <td>
        {{ if and (isset $el.Params "preis") (ne $el.Params.preis "") }}
        € {{ index $.Site.Data.kraeuterMeta.preiskategorien $el.Params.preis }}
        {{ end }}
      </td>
    </tr>
    {{ end }}
  {{ end }}
  </tbody>
</table>
