<label for="jetsSearch">Suche</label><input type="search" id="jetsSearch">
<button class="btn-expand">Alle anzeigen</button>

<table class="kraeuter-table">
  <tbody id="jetsContent" style="display: none;">
  {{ range .Site.Data.kraeuterDB.kraeuter }}
    {{ $hasPage := where $.Site.Pages "Params.name" "eq" .name }}
    <tr>
      <td>
        {{ if $hasPage }}<a href="{{ (index $hasPage 0).RelPermalink }}">{{ .name }}</a>{{ else }}{{ .name }}{{ end }}
        {{ $alternativeNames := union .extraNamen .synonyme }}
        {{ if gt (len $alternativeNames) 0 }}
        <br><small><em>auch:</em>
          {{ range $i, $name := $alternativeNames }}
          {{ $name }}{{ if ne (add $i 1) (len $alternativeNames) }}, {{end}}
          {{ end }}
        </small>
        {{ end }}
      </td>
      <td>
        {{ if and (isset . "preis") (ne .preis "") }}
        € {{ lang.NumFmt 2 (index $.Site.Data.preisklassen.preisklassen .preis) "-|,| " "|" }}
        {{ end }}
      </td>
    </tr>
  {{ end }}
  </tbody>
</table>
