@import 'imports/reset';

body {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  background-color: #330;
  background-image: url('/img/background.jpg');
  background-repeat: repeat-x;
  background-size: 1024px;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  text-align: center;
  line-height: 1.2;
  color: #000;
  font-family: 'Merriweather', serif;
  font-size: 100%;
}

a {
  &:link {
    text-decoration: none;
    color: #093;
  }

  &:visited {
    text-decoration: none;
    color: #900;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  color: #030;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

small {
  font-size: .8em;
}

.float-r {
  float: right;
}

.flex {
  display: flex;

  > * {
    align-self: flex-start;
  }
}

.mg-l {
  margin-left: 1rem;
  box-sizing: border-box;
}

.w2-3rds {
  width: 66%;
}

#MainAlign {
  position: relative;
  float: none;
  margin: 0 auto;
  padding-bottom: 115px;
  width: 880px;
  min-height: 100vh;
  text-align: left;
  box-sizing: border-box;
}

#menu {
  float: left;
  padding: 0;
  width: 259px;

  .nav-link {
    display: block;
    line-height: 0;
  }
}

#head {
  float: right;
  margin: 0 ;
  background-image: url('/img/top.png');
  background-repeat: no-repeat;
  width: 618px;
  height: 87px;
}

#content {
  float: right;
  margin: 0;
  background-image: url('/img/body.png');
  background-repeat: repeat-y;
  padding: 0 90px 2rem 80px;
  width: 448px;
}

#footer {
  float: right;
  margin: 0;
  background-image: url('/img/bottom.png');
  background-repeat: no-repeat;
  width: 618px;
  height: 88px;
}

#impressum {
  position: absolute;
  bottom: 0;
  float: none;
  clear: both;
  background-image: url('/img/grasbg.jpg');
  background-repeat: no-repeat;
  width: 1024px;
  height: 115px;
  text-align: center;
}

.shadow {
  box-shadow: 0 10px 6px -6px #777;
}

.clear {
  float: none;
  clear: both;
}

.nav-link {
  display: inline-block;

  &::after {
    display: none;
    position: static;
    width: 259px;
    content: '';
  }

  &:hover {
    img {
      display: none;
    }

    &::after {
      display: inline-block;
    }
  }
}

.nav-start::after {
  background-image: url('/img/highlight/startseite.png');
  height: 70px;
}

.nav-fried::after {
  background-image: url('/img/highlight/friedhofsgaertnerei.png');
  height: 50px;
}

.nav-grab::after {
  background-image: url('/img/highlight/grabpflege.png');
  height: 33px;
}

.nav-trau::after {
  background-image: url('/img/highlight/trauerbinderei.png');
  height: 34px;
}

.nav-sais::after {
  background-image: url('/img/highlight/saisonal.png');
  height: 34px;
}

.nav-krae::after {
  background-image: url('/img/highlight/kraeuter.png');
  height: 41px;
}

.nav-sort::after {
  background-image: url('/img/highlight/sortiment.png');
  height: 37px;
}

.nav-priv::after {
  background-image: url('/img/highlight/privat.png');
  height: 42px;
}

.nav-term::after {
  background-image: url('/img/highlight/termine.png');
  height: 50px;
}

.nav-extlinks::after {
  background-image: url('/img/highlight/links.png');
  height: 50px;
}

.nav-haft::after {
  background-image: url('/img/highlight/haftungsausschluss.png');
  width: 159px;
  height: 50px;
}

.nav-impr::after {
  background-image: url('/img/highlight/impressum.png');
  width: 178px;
  height: 50px;
}

.nav-agb::after {
  background-image: url('/img/highlight/agb.png');
  width: 98px;
  height: 50px;
}

.produkt-liste {
  padding-left: 0;
  list-style: none;

  & > li {
    margin-bottom: 2em;
  }

  h2 {
    margin-bottom: 0;
    color: #030;
  }

  p {
    margin-top: 0;
  }
}

.angebote {
  header {
    color: #030;
  }
}

.angebote__list {
  margin-top: 0;
  margin-bottom: 2rem;
  padding-left: 0;
  list-style: none;
}

.angebote__item {
  &:not(:last-child) {
    border-bottom: 1px solid #555;
  }
}

.angebote__imgs {
  margin-left: 1rem;
  max-width: 200px;

  img {
    max-width: 100%;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.5rem;

  figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: .5rem;
    max-width: calc(50% - .5rem);
  }

  img {
    max-width: 100%;
  }
}
