/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";


/*
  Or add your statements here:
 */
 body, td, th {
 	font-family: serif;
 	font-size: 14px;
 	color: #000;
 }
 body {
 	background-color: #330;
 	margin-left: 0px;
 	margin-right: 0px;
 	margin-top: 0px;
 	text-align: center; /* Zentrierung für IE*/
 }
 a:link {
 	color: #093;
 	text-decoration: none;
 }
 a:visited {
 	text-decoration: none;
 	color: #900;
 }
 a:hover {
 	text-decoration: underline;
 }
 a:active {
 	text-decoration: none;
 }
 h1, h2, h3, h4, h5, h6 {
 	font-weight: bold;
 }
 h1 {
 	font-size: 20px;
 	color: #030;
 }
 h2 {
 	font-size: 16px;
 }
 small {
 	font-size: 10px;
 }
 #bg {
 	float: none;
 	background-image: url(/img/background.png);
 	height: 714px;
 	background-repeat: repeat-x;
 }
 #MainAlign {
   text-align: left;
   margin: 0 auto;
   width: 880px;
 	float:none;
 }
 #menu {
 	float: left;
 	width: 259px;
 	padding: 0;
 }
 #head {
 	float: right;
   margin: 0 ;
 	background-image: url(/img/top.png);
 	width: 618px;
 	height: 87px;
 	background-repeat: no-repeat;
 }
 #content{
   float: right;
   margin: 0;
 	width: 448px;
 	padding: 0 90px 0 80px;
 	background-image: url(/img/body.png);
 	background-repeat: repeat-y;
 }
 #footer {
 	float: right;
   margin: 0 ;
 	width: 618px;
 	background-image: url(/img/bottom.png);
 	height: 88px;
 	background-repeat: no-repeat;
 }
 #single {
   float: none;
 	text-align: left;
   margin: 0 auto;
 	width: 448px;
 	padding: 0 90px 0 80px;
 	background-image: url(/img/body.png);
 	background-repeat: repeat-y;
 }
 #singlehead {
 	float: none;
 	text-align: left;
     margin: 0 auto;
 	background-image: url(/img/top.png);
 	width: 618px;
 	height: 87px;
 	background-repeat: no-repeat;
 }
 #singlefooter {
 	float: none;
 	text-align: left;
   margin: 0 auto;
 	width: 618px;
 	background-image: url(/img/bottom.png);
 	height: 88px;
 	background-repeat: no-repeat;
 }
 #impressum {
 	clear: both;
 	float: none;
 	background-image: url(/img/grasbg.png);
 	text-align: center;
 	width: 1024px;
 	height: 115px;
 	background-repeat: no-repeat;
 }
 #intro {
 	clear: both;
 	float: left;
 	padding: 0 90px 0 80px;
 	padding: 0;
 }
 #introimage {
 	float:right;
 }
 #introtext {
 	float:left;
 	width:225px;
 	padding: 0 5px 0 0;
 }

.shadow {
 	box-shadow: 0 10px 6px -6px #777;
 }
 .clear {
 	clear: both;
 	float: none;
 }

#menu .nav-link {
  display: block;
  line-height: 0;
}
.nav-link img:last-child {
  display: none;
}
.nav-link:hover img:first-child {
  display: none;
}
.nav-link:hover img:last-child {
  display: inline;
}

.produkt-liste {
  list-style: none;
  padding-left: 0;
}
.produkt-liste > li {
  margin-bottom: 2em;
}
.produkt-liste h2 {
  margin-bottom: 0;
  color: #330;
}
.produkt-liste p {
  margin-top: 0;
}
